.separatingMargin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-top-margin {
  margin-top: 4%;
}

.form-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.file-margin {
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
}

.drag-drop-padding {
    padding: 40px;
}

.grade-btn-padding {
  padding: 20px;
}

.center-vertically {
    position: absolute;
    top: 20%;
}

.grade-btn {
  font-family: "Tahoma";
  font-size: 4vw;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 80%;

  border: 0 solid;
  box-shadow: inset 0 9px 20px rgba(255, 255, 255, 0);
  /*outline: 1px solid;
  outline-color: rgba(0, 0, 0, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);*/
}

.btn.grade-btn:hover {
    color: black;
}

.btn.add {
  background-color: black;
  color: white;
}

.btn.add:hover {
  background-color: #1d1d1e;
  color: white;
}

.btn.add:active {
  background-color: #3b3b3d;
  color: white;
}

.btn.add:focus {
  outline: 0;
}

.grade-btn:active {
  transform: translateY(4px);
}

.white {
    background-color: #fff;
}

.yellow {
  background-color:	#FFDF46;
}
.green {
  background-color: #63B76C;
}
.orange {
  background-color:	#FF8833;
}
.red {
  background-color:	#CC3336;
}
.purple {
  background-color:	#803790;
}
.blue {
  background-color:	#1560BD;
}

.yellow:hover {
  background-color: #ffd91a;

  /*border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;*/
}
.green:hover {
  background-color: #489d51;
}
.orange:hover {
  background-color: #ff6a00;
}
.red:hover {
  background-color: #a3292b;
}
.purple:hover {
  background-color: #622a6f;
}
.blue:hover {
  background-color: #1252a1;
}

.light-yellow {
  background-color: #fff9c4;
}

.light-green {
  background-color: #e8f5e9;
}

.light-orange {
  background-color: #fff3e0;
}

.light-red {
  background-color: #ffebee;
}

.light-purple {
  background-color: #f3e5f5;
}

.light-blue {
  background-color: #e3f2fd;
}

a, a:hover {
  text-decoration: none;
  color: black;
}
body {
  background-color: #dcdee5;
}
